/* colors */

.purple-a{
    background: $purpleLightest;
}
.purple-b{
    background: $purpleLight;
}
.purple-c{
    background: $purpleRegular;
}
.purple-d{
    background: $purpleDark;
}
.purple-e{
    background: $purpleDarkest;
}
.purple-f{
    background: $purpleGradiant;
}
.purple-g{
    background: $purpleGradiantHover;
}

.blue-a{
    background: $blueLightest;
}
.blue-b{
    background: $blueLight;
}
.blue-c{
    background: $blueRegular;
}
.blue-d{
    background: $blueDark;
}
.blue-e{
    background: $blueDarkest;
}
.blue-f{
    background: $blueGradiant;
}
.blue-g{
    background: $blueGradiantHover;
}

.orange-a{
    background: $orangeLightest;
}
.orange-b{
    background: $orangeLight;
}
.orange-c{
    background: $orangeRegular;
}
.orange-d{
    background: $orangeDark;
}
.orange-e{
    background: $orangeDarkest;
}
.orange-f{
    background: $orangeGradiant;
}
.orange-g{
    background: $orangeGradiantHover;
}


.red-a{
    background: $redLightest;
}
.red-b{
    background: $redLight;
}
.red-c{
    background: $redRegular;
}
.red-d{
    background: $redDark;
}
.red-e{
    background: $redDarkest;
}
.red-f{
    background: $redGradiant;
}
.red-g{
    background: $redGradiantHover;
}

.grey-a{
    background: $greyLightest;
}
.grey-b{
    background: $greyLight;
}
.grey-c{
    background: $greyRegular;
}
.grey-d{
    background: $greyDark;
}
.grey-e{
    background: $greyDarkest;
}
.grey-f{
    background: $greyGradiant;
}
.grey-g{
    background: $greyGradiantHover;
}

.colorPurple-a{
    color: $purpleLightest !important;
}
.colorPurple-b{
    color: $purpleLight !important;
}
.colorPurple-c{
    color: $purpleRegular !important;
}
.colorPurple-e{
    color: $purpleDark !important;
}
.colorPurple-f{
    color: $purpleDarkest !important;
}

.colorBlue-a{
    color: $blueLightest !important;
}
.colorBlue-b{
    color: $blueLight !important;
}
.colorBlue-c{
    color: $blueRegular !important;
}
.colorBlue-e{
    color: $blueDark !important;
}
.colorBlue-f{
    color: $blueDarkest !important;
}

.colorRed-a{
    color: $redLightest !important;
}
.colorRed-b{
    color: $redLight !important;
}
.colorRed-c{
    color: $redRegular !important;
}
.colorRed-d{
    color: $redDark !important;
}
.colorRed-e{
    color: $redDarkest !important;
}

.colorOrange-a{
    color: $orangeLightest !important;
}
.colorOrange-b{
    color: $orangeLight !important;
}
.colorOrange-c{
    color: $orangeRegular !important;
}
.colorOrange-d{
    color: $orangeDark !important;
}
.colorOrange-e{
    color: $orangeDarkest !important;
}

.colorGrey-a{
    color: $greyLightest !important;
}
.colorGrey-b{
    color: $greyLight !important;
}
.colorGrey-c{
    color: $greyRegular !important;
}
.colorGrey-d{
    color: $greyDark !important;
}
.colorGrey-e{
    color: $greyDarkest !important;
}