h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.tilt-container{
    width: 576px;
}

.tilt-row{
    width: 322px;
    margin: 0 auto;
}


h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

h3{
    font-size: 16px;
    line-height: 24px;
}

h3.boldH3{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.iconsMobile img{
    display: block;
    margin: 0 auto 24px auto;
}

.iconsMobile{
    text-align: center;
    margin-bottom: 64px;
}

.iconsMobile:last-child{
    margin-bottom: 32px;
}

.headerImageFrame{
    background-image: none !important;
}

h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

h3{
    font-size: 16px;
    line-height: 24px;
}

.iconsMobile img{
    display: block;
    margin: 0 auto 24px auto;
}

.iconsMobile{
    text-align: center;
    margin-bottom: 64px;
}

.iconsMobile:last-child{
    margin-bottom: 32px;
}