h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.tilt-container{
    width: 576px;
}

.tilt-row{
    width: 322px;
    margin: 0 auto;
}


h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

h3{
    font-size: 16px;
    line-height: 24px;
}

h3.boldH3{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.iconsMobile img{
    display: block;
    margin: 0 auto 24px auto;
}

.iconsMobile{
    text-align: center;
    margin-bottom: 64px;
}

.iconsMobile:last-child{
    margin-bottom: 32px;
}

.iconsMobile img{
    display: block;
    margin: 0 auto 24px auto;
}

.iconsMobile{
    text-align: center;
    margin-bottom: 64px;
}

.iconsMobile:last-child{
    margin-bottom: 32px;
}

.headerImageFrame {
    background-image: url("../../images/headerImageFrame4.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}

.desktopRignt{
    float: none;
    display: block;
    margin: 0 auto;
}

.mobileCenter{
    text-align: center;
}

.btn.centerAlign{
    display: block !important;
    margin: 0 auto;
}

// vertical spacings from desktop down 
.spacer.one-three-two{
    padding-top: $fiftysixPX;
}

.spacer.fiftySix{
    padding-top: $fiftysixPX;
}